

body{
    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: repeat;
    background-size: cover 100%;
    background-color: rgba(255, 121, 121,0.99);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        color: #FF7979;
        text-decoration: none;
    }
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 80%;
    font-family: 'Poppins';
}
.text-section{
    width: 45%;
    color: white;
    display: flex;
    align-items: center;
}
.main-text-title{
    font-size: clamp(28px,4vw,50px);
    line-height: 55px;
    letter-spacing: -0.520833px;
}
.main-text-paragraph{
    font-family: 16px;
}
.form-section{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text-container{
    width: 100%;
    background-color: #5E54A4;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    em{
        font-weight: bold;
    }
}
.form-container{
    background-color: white;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    padding: 40px;
}
form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}
.input{ 
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 56px;
    padding-left: 32px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}
.input:focus{
    outline: 1px solid #5E54A4;
}
.submit-btn{
    width: 100%;
    height: 56px;
    background-color: #38CC8B;
    border: none;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.warning-text{
    font-size: 11px;
    color: #FF7979;
    text-align: right;
    margin: 0;
    display: none;
    position: relative;
    top: -40px;
    overflow: hidden;
}
.warning-img{
    display: none;
    width: 24px;
    height: 24px;
    position: relative;
    top: -60px;
    left: -5%;
    overflow: hidden;
}
.terms-text{
    font-size: 11px;
    color: #BAB7D4;
}
.inputfullfill{
    border: 1px solid #DEDEDE;
}
@import './_mobile.scss';